html {
    padding: 0px;
    padding-left: 35px;
}
body {
    background: url(images/bckg.jpg);
    background-image: center;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; 
    line-height: 2;
}

.dark-layer {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}

form {
    display: none;  
}
button {
    background-color: black;
    color: white;
}

.show {
    display: block;
} 

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    padding-top: 5%;
}

.sidenav :hover {
    color: yellow;
}

.far {
    font-weight: 400;
    font-size: 40px;
}
main {
    height: 100vh;
    width: 100%;
    /* margin-left: 100px; Same width of sidenav */
    font-size: 34px; /*Increased texct to enable scrolling */
    padding-left: 20px;
}

h1 {
    padding-top: 20%;
    text-align: center;
    font-size: 75px;
    color: white;

}
h2 {
   
    text-align: center;
    font-size: 35px;
    color: white;
}

h3 {
   font-size: 20px;
}
#content {
    padding-top: 0px;
    padding-left: 70px;

}
print {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 15px;
}


